
  <html>
    <head>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../core/static/css/materialize.min.css"  media="screen,projection"/>
    </head>
    
    <body>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../core/static/js/materialize.js"></script>

    <div class="container"> <div class='section' id="cal">


          <div class="row"> 
            <div class="col s12 m6"> <h4>Where is everyone right now?</h4> </div>
            <div class="col s12 m6" style="padding-left: 10px"> 
                        <div class="input-field col s12">
                          
                          <input id="input3" type="email" required>
                          <label id="label3">Search</label>
                        </div>
            </div> 

<table class="hoverable">
          <thead>
            <tr>
                <th data-field="name">Name</th>
                <th data-field="location">Location</th>
                <th data-field="location">Event</th>

            </tr>
          </thead
          <tbody>
            <tr>
               <td><a href="#">Kate Farris</a></td> 
              <td>Rm: 15-147</td>
              <td>X-Ray</td>

            </tr>
            <tr>
              <td><a href="#">Jin Pan</a></td>
              <td>Rm: 18-147</td>
              <td>CT Scan</td>
            </tr>
            <tr>
              <td><a href="#">Fernando Trujano</a></td>
              <td>Rm: 12-337</td>
              <td>Blood Test</td>

            </tr>
            <tr>
              <td><a href="#">Erika Lu</a></td>
              <td>Rm: 10-250</td>
              <td>Physical Therapy</td>
            </tr>           
             <tr>
              <td><a href="#">Amol Bhave</a></td>
              <td>Rm: 12-387</td>
              <td>MRI</td>

            </tr>
            <tr>
              <td><a href="#">Juju Wang</a></td>
              <td>Rm: 13-547</td>
              <td>Checkup</td>
            </tr>

          </tbody>
        </table>


          </div>

 
        </div></div>

 
    </body>
    
  </html>